.gameRoom {
  table {
    border-collapse: collapse;
  }
  & .gameBoard {
  
    & .row {
      width: 400px;
      height: 100px;
      & .cell {
        text-align: center;
        width: 100px;
        height: 100px;
        font-size: 60px;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}
